.levo{
	width:50%;
	
	float:left;
}
body {
	margin:0;
	overflow:hidden;
}
.desno{
	width:50%;
	float:left;
	float:left;
	overflow-y:scroll;
	background:#E0FFFF;
}
.filters{
	width:100%;
	height:100px;
	border:1px solid #B0C4DE;
}
.skloni_filter{
	float:left;
	margin-right:10px;
}
.filter_grad{
	float:left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 0.5em;
	height: 0.7em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.favoriti{
	height:0px;
	overflow-y:auto;
	background-color:#6C87A3;
}
.lista_stanova{
	padding-top:4px;
	padding-left:3px;
	background-color:#E8E8E8 ;
	overflow-y:scroll;
}
.jedan_stan{
	width:660px;
	height:60px;
	border:1px solid;
	border-radius:7px;
	border-color:#C0C0C0;
	background-color:white;
}
.red{
	margin-top:5px;
}
.slika{
	float:left;
	width:100px;
	height:50px;
	border:1px solid;
	margin:5px;
	background-color:white;
}
.text{
	width:470px;
	float:left;
	
}
.osobina{
	margin-right:5px;
	margin-left:15px;
	width:70px;
	text-align:right;
	color:#505050; 
}
.podatak{
	margin-left:5px;
}
.dugme{
	width:25px:
	background-color:blue;
	background-color:blue;
	border-radius: 7px;
	color:white;
	height:20px;
	float:right;
	margin:5px;
}
.prazan_div{
	width:450px;
	height:420px;
	margin-left:20px;
	margin-top:50px;
}
.detalji_parametri{
	
	width:100;
	height:28;
	margin-right:5px;
	margin-left:25px;
	font-weight: bold;
	font-style: italic;
}
.detalji_vrednosti{
	color:#005C5C;
	height:10px;
}
.red_detalji{
	margin-top:10px;
	width:450px;
	height:20px;
}
.novi_filteri {
	display: none;
	position: absolute;
	background-color: blue;
	color: white;
}

.filter_range {
	float: left;
}
.filter_range_slider {
	display: none;
	position: absolute;
	width:150px; 
	height:7px;
}
.filter_range_value {
	border: 0; 
	font-weight:bold;
	width: 5em;
}
.image_slider {
	height: 350px;
}

.report {
	display: none;
}
