div.logo {
	height: 70px;
	width: 160px;
	background-image: url('logo.png');
	float: left;
}

.content {
	clear: left;
	width: 1000px;
	margin: auto;
}

.levo {
	width:600px;
	float:left;
	clear: left;
}
.account {
	float: right;
	text-align: right;
	width: 280px;
}
.account p {
	margin: 0;
	padding-right: 5px;
}

.big {
	font-size: 16px;
}

body {
	margin:0;
	font-family: Trebuchet MS;
	font-size: 14px;
}
body.objects {
	overflow-y:hidden;
	min-width: 1350px;
}

.objects_container {
	width: 1350px;
	margin-left: auto;
	margin-right: auto;
}

.desno {
	width: 750px;
	float: left;
	overflow-y: auto;
}

.filters {
	min-height: 70px;
	width: 900px;
	float: left;
	padding: 3px;
}
.filter_list {
	float: left;
	margin-left: 10px;
	height: 30px;
	width: 250px;
}

.filter_range {
	float: left;
	height: 30px;
	margin-left: 10px;
	width: 250px;
}
.filter_range_slider {
	display: none;
	position: absolute;
	width:150px;
	height:7px;
}
.filter_range_value {
	border: 0;
	font-weight:bold;
	width: 5em;
}

button.skloni {
	width: 20px;
	float: right;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 0.5em;
	height: 0.7em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}

.menu {
	clear: left;
	float: left;
	width: 160px;
	background: #F0EFEA;
	margin-top: 20px;
}
.menu .info {
	padding: 30px 14px;
	text-align: center;
}
.menu .info span {
	font-style: italic;
}
#cssmenu {
	padding: 0;
	margin: 0;
	border: 0;
}
#cssmenu ul,
#cssmenu li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#cssmenu ul {
	position: relative;
	z-index: 597;
	float: left;
}
#cssmenu ul li {
	float: left;
	min-height: 1px;
	line-height: 1.5em;
	vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
}
#cssmenu ul ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 598;
	width: 100%;
}
#cssmenu ul ul li {
	float: none;
}
#cssmenu ul ul,
#cssmenu ul ul ul {
	top: -1px;
	left: 99%;
}
#cssmenu ul li:hover > ul {
	visibility: visible;
}
#cssmenu ul li {
	float: none;
}
#cssmenu a {
	display: block;
}
/* Custom CSS Styles */
#cssmenu:after,
#cssmenu ul:after {
	content: '';
	display: block;
	clear: both;
}
#cssmenu ul {
	border: 1px solid #aaaaaa;
	padding: 4px;
	width: 150px;
}
#cssmenu ul li {
	color: #000000;
	position: relative;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
	background: #C0DEED;
	background: -moz-linear-gradient(#C0DEED 0%, #235e8e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C0DEED), color-stop(100%, #235e8e));
	background: -webkit-linear-gradient(#C0DEED 0%, #235e8e 100%);
	background: linear-gradient(#C0DEED 0%, #235e8e 100%);
	color: #FFF;
}
#cssmenu ul li.hover > a,
#cssmenu ul li:hover > a {
	color: #FFF;
	border: 1px solid #235e8e;
}
#cssmenu ul ul {
	width: 100px;
}
#cssmenu a {
	border: 1px solid transparent;
	padding: 3px 10px;
}
#cssmenu a:link,
#cssmenu a:visited {
	color: #000000;
	text-decoration: none;
}
#cssmenu a:hover {
	background: #C0DEED;
	background: -moz-linear-gradient(#C0DEED 0%, #235e8e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C0DEED), color-stop(100%, #235e8e));
	background: -webkit-linear-gradient(#C0DEED 0%, #235e8e 100%);
	background: linear-gradient(#C0DEED 0%, #235e8e 100%);
	color: #FFF;
}
#cssmenu .active {
	background-color: #1b9ece;
}
#cssmenu .has-sub:hover > a:after,
#cssmenu .has-sub.hover > a:after {
	border-color: transparent transparent transparent #FFF;
}
#cssmenu .has-sub > a:after {
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 4px 0 4px 4px;
	border-color: transparent transparent transparent #808080;
	position: absolute;
	top: 50%;
	right: 5%;
	margin-top: -4px;
	-webkit-transform: rotate(360deg);
}

.account_content {
	float: left;
	margin-left: 10px;
}

.ad {
	border: 1px solid;
}

.adform textarea {
	width: 350px;
	padding: 0px;
}
.adform select {
	width: 350px;
}
.adform input {
	width: 350px;
	padding-left: 0;
	padding-right: 0;
}
.adform ul {
	clear: both;
}
.adform input[type="checkbox"] {
	width: auto;
}

.favoriti {
	height:0px;
	overflow-y:auto;
	background-color:#6C87A3;
}
.favourite {
	height: 20px;
	width: 20px;
	background-image: url('favourite-empty.png');
	float: right;
	margin-top: 4px;
	margin-right: 5px;
	cursor: pointer;
}
.favoriti .favourite {
	background-image: url('favourite-blue.png');
}

.object_list {
	background-color: #C0DEED ;
	overflow-y: auto;
}
div.object {
	height:55px;
	background-color: white;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

div.button {
	width: 100px;
	border: 1px solid;
	background-color: #C0DEED;
	text-align: center;
	cursor: pointer;
	margin-top: 5px;
	margin-right: 5px;
}

.object .button {
	float: right;
}

.red {
	margin-top:5px;
}
.thumb {
	float: left;
	width: 80px;
	height: 45px;
	overflow: hidden;
	border: 1px solid;
	margin: 4px;
	text-align: center;
}
.list_text {
	float: left;
	
}
.osobina {
	margin-right:5px;
	margin-left:15px;
	width:70px;
	text-align:right;
	color:#505050; 
}
.podatak {
	margin-left:5px;
}
.dugme {
	width:45px;
	color:#545757;
	height:22px;
	float:right;
	margin:5px;
	border: 3px outset #C0C0C0;
	background-color:white;
	text-align:center;
}
.details {
	min-width: 450px;
	text-align: left;
	font-size: 17px;
}
.details_text {
	margin-top: 50px;
}
.details_parameters {
	width:100;
	height:28;
	margin-right:5px;
	font-weight: bold;
}
.details_values {
	color:#005C5C;
	height:10px;
	margin-right:25px;
}
.details_row{
	margin-top:10px;
	min-height:20px;
	margin-left:25px;
}
.new_filters {
	display:none;
	position:absolute;
	background-color: white ;
	color:#5B626A;
	border-right:1px solid #5B626A;
	border-left:1px solid #5B626A;
	border-top:1px solid #5B626A;
	cursor: pointer;
	z-index: 1;
}

.new_filter_active {
	background-color: #C0DEED;
}

.filter_name{
	border-bottom: 1px solid;
	padding:7px;
}
.overmouse_color{
	background-color:#ECECEC;
}

.report {
	display: none;
	margin-left: 25px;
}
form {
	margin: 0px;
	padding: 0px;
	font-size: 15px;
}
form p label {
	display: block;
	width: 200px;
	float: left;
}
div.form {
	clear: left;
	margin: auto;
	text-align: left;
	width: 1000px;
}
.dodaj{
	background-color:white;
	color:#545757;
	width:100px;
	height: 30px;
	border: 3px outset#C0C0C0 ; 
	margin-left:5px;
	font-size: 13px;
}
.reporting_button{
	margin-left: 25px;
	border: 3px outset #C0C0C0 ;
	background-color: white;
	margin-bottom: 50px;
}
.reported {
	margin-bottom: 50px;
}

.welcome_message {
	margin-top: 200px;
	text-align: center;
}

.free_message {
	margin-left: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	font-style: italic;
}

#footer {
	width: 1350px;
	clear: left;
	text-align: center;
	height: 40px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

#send_message_container {
	margin-left: 25px;
	margin-top: 50px;
}

#send_message_container p {
	font-size: 15px;
	margin-bottom: 5px;
	margin-top: 8px;
}

#send_message_container .button {
	font-size: 14px;
	width: 220px;
}

#send_message_container input {
	width: 220px;
}

#send_message_container textarea {
	height: 150px;
	width: 220px;
}

.report_ad {
	margin-top: 50px;
}

.text {
	clear: left;
	width: 500px;
	padding-right: 500px;
	margin: auto;
	text-align: justify;
}
.text p {
	font-size: 15px;
}

p.required label:after {
	content: '*';
}

.errorlist {
	font-weight: bold;
}
/* jssor slider bullet navigator skin 13 css */
/*
.jssorb13 div           (normal)
.jssorb13 div:hover     (normal mouseover)
.jssorb13 .av           (active)
.jssorb13 .av:hover     (active mouseover)
.jssorb13 .dn           (mousedown)
*/
.jssorb13 {
	position: absolute;
}
.jssorb13 div, .jssorb13 div:hover, .jssorb13 .av {
	position: absolute;
	/* size of bullet elment */
	width: 21px;
	height: 21px;
	background: url('jssor-slider/b13.png') no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb13 div { background-position: -5px -5px; }
.jssorb13 div:hover, .jssorb13 .av:hover { background-position: -35px -5px; }
.jssorb13 .av { background-position: -65px -5px; }
.jssorb13 .dn, .jssorb13 .dn:hover { background-position: -95px -5px; }
