div.logo {
	height: 70px;
	width: 160px;
	background-image: url('logo13.jpg');
	float: left;
}

.levo {
	min-width:500px;
	float:left;
	clear: left;
}
.account {
	float: right;
	text-align: right;
}
.account p {
	margin: 0;
	font-size: 12px;
	padding-right: 5px;
}

body {
	margin:0;
	font-family: Trebuchet MS;
	font-size: 14px;
}
body.objects {
	overflow:hidden;
}

.objects_container {
	min-width: 2000px;
}

.desno {
	width: 750px;
	float: left;
	overflow-y: auto;
}

.filters {
	height:70px;
	float: left;
	padding:3px;
}
.filter_list {
	float:left;
	margin-left:10px;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 0.5em;
	height: 0.7em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}

.menu {
	clear: left;
	float: left;
	width: 160px;
	padding-top: 50px;
	border-bottom-style: solid;
	border-width: 1px;
}
.menu_item {
	border-width: 1px;
	border-left-style: solid;
	border-top-style: solid;
	border-right-style: solid;
	padding-left: 10px;
	cursor: pointer;
}
.menu_item_selected {
	border-right-style: none;
	background-color: #C0DEED
}
.menu_item_hover {
	background-color: #00DEED
}

.account_content {
	float: left;
	margin-left: 10px;
}

.ad {
	border: 1px solid;
}

.favoriti {
	height:0px;
	overflow-y:auto;
	background-color:#6C87A3;
}
.favourite {
	height: 20px;
	width: 20px;
	background-image: url('favourite-empty.png');
	float: right;
	margin-top: 4px;
	margin-right: 5px;
}
.favoriti .favourite {
	background-image: url('favourite-blue.png');
}

.object_list {
	background-color: #C0DEED ;
	overflow-y: auto;
}
div.object {
	height:55px;
	background-color: white;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

div.button {
	width: 100px;
	border: 1px solid;
	background-color: #C0DEED;
	text-align: center;
	float: right;
	cursor: pointer;
	margin-top: 5px;
	margin-right: 5px;
}

.red {
	margin-top:5px;
}
.thumb {
	float: left;
	width: 80px;
	height: 45px;
	overflow: hidden;
	border: 1px solid;
	margin: 4px;
}
.list_text {
	float: left;
	
}
.osobina {
	margin-right:5px;
	margin-left:15px;
	width:70px;
	text-align:right;
	color:#505050; 
}
.podatak {
	margin-left:5px;
}
.dugme {
	width:45px;
	color:#545757;
	height:22px;
	float:right;
	margin:5px;
	border: 3px outset #C0C0C0;
	background-color:white;
	text-align:center;
}
.details {
	min-width:450px;
	text-align:center;
	font-size: 17px;
}
.details_text {
	margin-top: 50px;
}
.details_parameters {
	width:100;
	height:28;
	margin-right:5px;
	margin-left:25px;
	font-weight: bold;
}
.details_values {
	color:#005C5C;
	height:10px;
}
.details_row{
	margin-top:10px;
	height:20px;
}
.novi_filteri {
	display:none;
	position:absolute;
	background-color: white ;
	color:#5B626A;
	border-right:1px solid #5B626A;
	border-left:1px solid #5B626A;
	border-top:1px solid #5B626A;
}
.filter_name{
	border-bottom: 1px solid;
	padding:7px;
}
.overmouse_color{
	background-color:#ECECEC;
}

.filter_range {
	float: left;
}
.filter_range_slider {
	display: none;
	position: absolute;
	width:150px; 
	height:7px;
}
.filter_range_value {
	border: 0; 
	font-weight:bold;
	width: 5em;
}
.image_slider {
	height: 350px;
}

.report {
	display: none;
}

form {
	margin: 0px;
	padding: 0px;
}
form p label {
	display: block;
	width: 200px;
	float: left;
}
div.form {
	clear: left;
	margin: auto;
	text-align: left;
	width: 700px;
}
.dodaj{
	background-color:white;
	color:#545757;
	width:100px;
	height:24px;
	border: 3px outset#C0C0C0 ; 
	margin-left:5px;
}
.reportingButton{
	margin-left:25px;
	border: 3px outset #C0C0C0 ;
	background-color:white;
}


