{% extends 'nekretnine/template.html' %}

{% block subtitle %}O nama{% endblock %}

{% block content %}
<div class="text">
	<h1>O nama</h1>
	<p>
		Mojkutak.rs je sajt koji omogućava korisnicima da brzo i jednostavno iznajme ili izdaju zeljenu nekretninu.
		Na našem sajtu korisnici mogu pronaći oglase postavljene direktno od strane vlasnika,
		a ne od strane posrednika ili agencije.
	</p>
	<p>
		Preko našeg sajta zakupci najlakše i najbrže mogu doći do podataka o stanu koji ih interesuje i
		stupiti direktno u kontakt sa vlasnikom i dogovoriti se, bez plaćanja ikakve provizije.
	</p>
	<p>
		Isto tako, vlasnicima nekretnina je omogućeno da  lako i jednostavno oglase svoju nekretninu, takođe bez plaćanja provizije.
	</p>
	<p>
		Na sajtu se nalaze samo oglasi za izdavanje stanova i to za sada samo na području Beograda.
	</p>
	<p>
		Posetite naš sajt, kako biste oglasili i najbrže izdali svoju nekretninu,
		a isto tako da biste najlakše pronašli stan kakav vam odgovara.
	</p>
</div>
{% endblock %}
