{% extends 'nekretnine/template.html' %}
{% block title %}izaberite stan po vašoj meri{% endblock %}
{% block content %}
		<div class="menu">
			<div class="info">Prijavljen kao <span>{{ user.username }}</span> Dobrodošli!</div>
			<div id='cssmenu'>
				<ul>
					{% for menu_item in menu_items %}
					<li{% if menu_item.id = selected_item %} class='active'{% endif %}>
						<a href='{{ menu_item.href }}'>
							<span>{{ menu_item.text }}</span>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="account_content">
			{% block account_content %}{% endblock %}
		</div>
{% endblock %}
