{% extends 'nekretnine/account.html' %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
	<div class="form">
		{% csrf_token %}
		<input type="hidden" name="object_id" value="{{ object_id }}" />
		{{ object_form.as_p }}
		{% for image in images %}
		<img src="{{ image.url }}" />
		<input type="checkbox" name="delete_images[]" value="{{ image.id }}" /> Obrisi
		{% endfor %}
		<p><b>Da bi slike bile najbolje prikazane preporučujemo da odnos širine i visine bude 16:9.</b></p>
		{{ new_images_form.as_p }}
		<p>Ukoliko imate još slika možete ih naknadno uneti kasnije.</p>
		{% if ad_form %}{{ ad_form.as_p }}{% endif %}
		<input type="submit" value="{% if create %}Napravi oglas{% else %}Sačuvaj{% endif %}">
	</div>
</form>
{% endblock %}
