{% extends 'nekretnine/account.html' %}

{% block account_content %}
<div class="text">
	<h2>Dobrodošli na stranicu za postavljanje oglasa</h2>
	<p>
		Na ovoj stranici unosite podatke o vašem stanu. Polja označena sa zvezdicom su obavezna da se popune.
		Ukoliko smo zaboravili neki detalj, možete ga dodati u polju "Slobodna poruka".
		Kada unesete sve podatke, oglas ćete sačuvati klikom na dugme
		"{% if create %}Napravi oglas{% else %}Sačuvaj{% endif %}" na dnu stranice.
	</p>
</div>
{% if error %}
<h3>Niste dobro uneli podatke. Pogledajte ispod, polja koja nisu dobra su obeležena.</h3>
{% endif %}
<form action="" method="post" enctype="multipart/form-data">
	<div class="form adform">
		{% csrf_token %}
		<input type="hidden" name="object_id" value="{{ object_id }}" />
		{{ object_form.as_p }}
		{% for image in images %}
		<img src="{{ image.url }}" />
		<input type="checkbox" name="delete_images[]" value="{{ image.id }}" /> Obrisi
		{% endfor %}
		<p><b>Poželjno je da postavite slike, jer oglasi sa slikama imaju daleku veću posećenost</b></p>
		<p><b>Da bi slike bile najbolje prikazane preporučujemo da odnos širine i visine bude 16:9.</b></p>
		{{ new_images_form.as_p }}
		<p>Ukoliko imate još slika možete ih naknadno uneti kasnije.</p>
		{% if ad_form %}{{ ad_form.as_p }}{% endif %}
		<input type="submit" value="{% if create %}Napravi oglas{% else %}Sačuvaj{% endif %}">
	</div>
</form>
{% endblock %}
