<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Uskoro</title>
		<style>
		.sredina{
			width:820px;
			height:672px;
		    position:relative;
	        left:50%;
			margin-left:-410px;
			background-color:#E8E8E8;
			box-shadow: 10px 10px 5px #888888;
			border:1px solid #D8D8D8;
		}
		body{
			
			margin:0px;
		}
		.text{
			width:460px;
			position:relative;
			left:50%;
			margin-left:-230px;
			margin-top:300px;
			font-size: 35px;
			color:#C63333;
			font-style: italic;
			text-shadow: 2px 3px 5px #888888;
		}
		</style>
	</head>
	<body>
		<div class = "sredina">
			<div class = "text">
				<b>Sajt uskoro počinje sa radom!</b>
			</div>
		</div>
	</body>
</html>