<div>
{% if stan.images %}
	<!-- Jssor Slider Begin -->
	<!-- To move inline styles to css file/block, please specify a class name for each element. -->
	<div id="slider1_container" style="position: relative; width: 700px; height: 394px; background-color: #fff; overflow: hidden; ">

		<!-- Loading Screen -->
		<div u="loading" style="position: absolute; top: 0px; left: 0px;">
			<div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
				background-color: #fff; top: 0px; left: 0px;width: 100%;height:100%;">
			</div>
			<div style="position: absolute; display: block; top: 0px; left: 0px;width: 100%;height:100%;">
			</div>
		</div>

		<!-- Slides Container -->
		<div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 700px; height: 394px;
			overflow: hidden;">
			{% for image in stan.images %}
			<div>
				<a u=image href="#"><img src="{{ image.large_image.url }}" /></a>
			</div>
			{% endfor %}
		</div>

		<!--#region Bullet Navigator Skin Begin -->
		<!-- Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html -->
		<!-- bullet navigator container -->
		<div u="navigator" class="jssorb13" style="bottom: 16px; right: 6px;">
			<!-- bullet navigator item prototype -->
			<div u="prototype"></div>
		</div>
		<!--#endregion Bullet Navigator Skin End -->
	</div>
	<!-- Jssor Slider End -->

</div>
	{% else %}
	Nema slika
{% endif %}
</div>
<div class="details_text">
	<div class="details_row" >
		<span class="details_parameters">Lokacija:</span>
		<span class="details_values">{{ stan.deo_grada.grad }} ({{ stan.deo_grada }})</span>
	</div>
	<div class="details_row">
		<span class="details_parameters">Adresa:</span>
		<span class="details_values">{{ stan.adresa }}</span>
	</div>
	<div class="details_row">
		<span class="details_parameters">Tip objekta:</span>
		<span class="details_values">{{ stan.tip_objekta }} ({{ stan.namestenost }})</span>
		<span class="details_parameters">Površina:</span>
		<span class="details_values">{{ stan.povrsina }}m<sup>2</sup></span>
		<span class="details_parameters">Broj soba:</span>
		<span class="details_values">{{ stan.broj_soba }}</span>
		<span class="details_parameters">Sprat:</span>
		<span class="details_values">{{ stan.floor }} od {{ stan.floors }}</span>
	</div>
	<div class="details_row">
		<span class="details_parameters">Cena:</span>
		<span class="details_values">{{ stan.cena }} €</span>
		<span class="details_parameters">Depozit:</span>
		<span class="details_values">{% if stan.deposit %}da{% else %}ne{% endif %}</span>
		<span class="details_parameters">Godina izgradnje:</span>
		<span class="details_values">{{ stan.construction_year }}</span>
		<span class="details_parameters">Grejanje:</span>
		<span class="details_values">{{ stan.heating }}</span>
	</div>
	<div class="details_row">
		<span class="details_parameters">Ostale pogodnosti:</span>
		<span class="details_values">
			{{ stan.get_additional_features }}
		</span>
	</div>
	{% if stan.owner.show_data_in_ad %}
	<div class="details_row">
		<span class="details_parameters">Vlasnik:</span>
		<span class="details_values">{{ stan.owner.user.first_name }} {{ stan.owner.user.last_name }}</span>
		<span class="details_parameters">Telefon vlasnika:</span>
		<span class="details_values">{{ stan.owner.phone }}</span>
	</div>
	{% endif %}

	<div class="free_message">{{ stan.free_message }}</div>

	<div id="send_message_container">
		<p>Interesuje Vas ovaj stan? Postavite pitanje.</p>
		<p>Ime i prezime:</p><input id="message_name" type="text" /><br />
		<p>Telefon:</p><input id="message_phone" type="text" /><br />
		<p>Email:</p><input id="message_email" type="text" /><br />
		<p>Poruka:</p>
		<textarea id="message_text"></textarea>
		<p><div class="button" onclick="send_message({{ stan.id }}, $('#message_name').val(), $('#message_phone').val(), $('#message_email').val(), $('#message_text').val())">pošalji poruku vlasniku</div></p>
		<div class="report_ad">
			<div class="button" onclick="report({{ stan.id }}, 'report_inactive')">Prijavite da je stan izdat</div>
			<div class="button" onclick="report({{ stan.id }}, 'report_middleman')">Prijavite da je oglas agencijski</div>
		</div>
	</div>

	<span id="messageAccepted" class="report">Vaša poruka je poslata. Hvala što koristite mojkutak.rs.</span>
	<span id="thanksForReporting" class="report">Hvala, Vaša prijava je zabeležena</span>
	<span id="reportingFailed" class="report">Vaša prijava nije prihvaćena. Pokušajte kasnije ponovo.</span>
	{% if ad.reported_as_inactive_counter > 1 %}
	<div class="reported">Ovaj stan je verovatno izdat. Broj prijava: {{ ad.reported_as_inactive_counter }}.</div>
	{% endif %}
	{% if ad.reported_as_middleman_counter > 1 %}
	<div class="reported">Ovaj stan je verovatno agencijski. Broj prijava: {{ ad.reported_as_middleman_counter }}.</div>
	{% endif %}
</div>
