<div>
{% if stan.images %}
<div class="sliderFrame">
	<div id="slider">
	{% for image in stan.images %}
		<img src="{{ image.large_image.url }}" />
	{% endfor %}
	</div>
</div>
	{% else %}
	Nema slika
{% endif %}
</div>
<div class="details_text">
	<div class="details_row" >
		<span class="details_parameters">Lokacija:</span>
		<span class="details_values">{{ stan.deo_grada.grad }} ({{ stan.deo_grada }})</span>
	</div>
	<div class="details_row">
		<span class="details_parameters">Tip objekta:</span>
		<span class="details_values">{{ stan.tip_objekta }} ({{ stan.namestenost }})</span>
		<span class="details_parameters">Površina:</span>
		<span class="details_values">{{ stan.povrsina }}m2</span>
		<span class="details_parameters">Broj soba:</span>
		<span class="details_values">{{ stan.broj_soba }}</span>
		<span class="details_parameters">Cena:</span>
		<span class="details_values">{{ stan.cena }} €</span>
	</div>
	<div class="details_row">
		<span class="details_parameters">Adresa:</span>
		<span class="details_values">{{ stan.adresa }}</span>
	</div>
	<div class="details_row">
	</div>
	
	<input id="reportingButton" type="button" onclick="reportInactive({{ stan.id }})" value="Prijavite da je stan izdat" />
	<span id="thanksForReporting" class="report">Hvala, Vaša prijava je zabeležena</span>
	<span id="reportingFailed" class="report">Vaša prijava nije prihvaćena. Pokušajte kasnije ponovo.</span>
	{% if ad.reported_as_inactive_counter > 1 %}
	<div class="reported_inactive">Ovaj stan je verovatno izdat. Broj prijava: {{ ad.reported_as_inactive_counter }}.</div>
	{% endif %}
</div>
