<div>
{% if stan.images %}
<div class="image_slider">
	<div id="image_slider_big">
	{% for image in stan.images %}
		<img src="{{ image.url }}" />
	{% endfor %}
	</div>
	<div id="image_slider_small">
	{% for image in stan.images %}
		<img src="{{ image.url }}.small.jpg" />
	{% endfor %}
	</div>
</div>
	{% else %}
	Nema slika
{% endif %}
</div>
<div class = "detalji_text">
	<div class = "red_detalji" >
		<span class = "detalji_parametri">Lokacija:</span>
		<span class = "detalji_vrednosti">{{ stan.deo_grada.grad }} ({{ stan.deo_grada }})</span>
	</div>
	<p class = "crta"><hr></p>
	<div class = "red_detalji">
		<span class = "detalji_parametri">Tip objekta:</span>
		<span class = "detalji_vrednosti">{{ stan.tip_objekta }}</span>
		<span class = "detalji_parametri">Adresa:</span>
		<span class = "detalji_vrednosti">{{ stan.adresa }}</span>
	</div>
	<div class = "red_detalji">
		<span class = "detalji_parametri">Površina:</span>
		<span class = "detalji_vrednosti">{{ stan.povrsina }}m2</span>
		<span class = "detalji_parametri">Broj soba:</span>
		<span class = "detalji_vrednosti">{{ stan.broj_soba }}</span>
	</div>
	
	<p class = "crta"><hr></p>
	
	<div class = "red_detalji">
		<span class = "detalji_parametri">Cena:</span>
		<span class = "detalji_vrednosti">{{ stan.cena }} €</span>
		<span class = "detalji_parametri">Nameštenost:</span>
		<span class = "detalji_vrednosti">{{ stan.namestenost }}</span>
	</div>
	
	
</div>
