<div class="filter_range" id="filter_{{ id }}">
	<label>{{ title }}:</label>
	<input type="text" id="filter_{{ id }}_value" readonly class="filter_range_value" value="{{ start_value }}" />
	<input type="hidden" id="filter_{{ id }}_min" value="{{ min_value }}" />
	<input type="hidden" id="filter_{{ id }}_max" value="{{ max_value }}" />
	<button class="skloni" onclick="window.libFilter.removeFilter('{{ id }}')">x</button>
</div>
<script type="text/javascript">window.libFilter.initFilterSlider("filter_{{ id }}");</script>