<div class="filter_list" id="filter_{{ id }}">
	<select id="filter_{{ id }}_value" onchange="ucitajSpisakStanova();"{% if type == 'multi' %} multiple{% endif %}>
		{% for stavka in stavke %}
		<option value="{{ stavka.id }}">{{ stavka.name }}</option>
		{% endfor %}
	</select>
	<button class="skloni" onclick="window.libFilter.removeFilter('{{ id }}')">x</button>
</div>
<script type="text/javascript">
	$("#filter_{{ id }}_value").SumoSelect({
		{% if type == 'multi' %}
		selectAll: true,
		selectAlltext: "Izaberite sve",
		{% endif %}
		captionFormat: "{{ title }}: {0}",
		placeholder: "{{ title }}"
	});
</script>
