{% extends 'nekretnine/template.html' %}

{% block title %}Prijavite se{% endblock %}

{% block content %}
		<div class="text">
			<h2>Prijava preko korisničkog naloga</h2>
			<p>Dragi korisnici</p>
			<p>
				da biste postavili svoj oglas na naš sajt,
				potrebno je da se prijavite preko svog korisničkog
				naloga, popunjavanjem polja ispod teksta.
				Ako nemate kreiran nalog,
				možete ga napraviti klikom na link ispod dugmeta za prijavu.
			</p>
		</div>
		<div class="form">
			{% if form.errors %}
			<p>Uneli ste pogrešan email ili lozinku. Pokušajte ponovo.</p>
			{% endif %}

			{% if next %}
				{% if user.is_authenticated %}
				<p>Nemate omogućen pristup ovoj stranici.</p>
				{% endif %}
			{% endif %}

			<form id="login_form" method="post" action="">
				{% csrf_token %}
				<table>
				<tr>
					<td>Email:</td>
					<td>{{ form.username }}</td>
				</tr>
				<tr>
					<td>Lozinka:</td>
					<td>{{ form.password }}</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<div class="button" onclick="document.getElementById('login_form').submit();">Prijavite se</div>
					</td>
				</tr>
				</table>
				<input type="submit" style="display: none;" />
				<input type="hidden" name="next" value="{{ next }}" />
			</form>
			<p><a href="/password_reset/">Zaboravili ste lozinku?</a></p>
			<p>Nemate nalog? <a href="/register/">Napravite ga!</a></p>
		</form>
{% endblock %}
