{% extends 'nekretnine/template.html' %}
{% block title %}izaberite stan po vašoj meri{% endblock %}
{% block head %}
<script type="text/javascript">
$(setupObjectsPage);
</script>
{% endblock %}
{% block content %}
		{% if city_parts %}
		<input id="city_parts" type="hidden" value="{{ city_parts }}" />
		{% endif %}
		<div id="filters" class="filters">
			<button id="dugme_dodaj_filter" class="dodaj" onclick="window.libFilter.addFilterChoice()" >Dodaj uslove</button>
		</div>
		<div id="new_filters" class="new_filters"></div>
		<div class="filter_range_slider" id="filter_range_slider"></div>
		<div class="account{% if not user.is_authenticated %} big{% endif %}">
			{% if user.is_authenticated %}
				<p>Prijavljeni ste kao {{ user.username }}</p>
				<p><a href="/ad/">Postavite oglas</a></p>
				<p><a href="/ads/">Uredite svoje oglase</a></p>
				<p><a href="/logout/">Odjavite se</a></p>
			{% else %}
				<p>Imate stan za izdavanje?</p>
				<p><a href="/login/?next=/ads/">Prijavite se i postavite oglas besplatno!</a></p>
			{% endif %}
		</div>
		<div class="objects_container">
			<div class="levo" id="left">
				<div class="favoriti" id="favoriti">
					
				</div>
				<div class="object_list" id="spisak">
				</div>
			</div>
			<div class="desno" id="right">
				<div id="prazan" class="details">
					<div class="welcome_message">
						<p>{{ welcome_message|safe }}</p>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<a href="/about">O nama</a>
			| <a href="/terms">Pravila korišćenja</a>
			| <a href="/tutorial">Uputstvo</a>
			{% if user.is_authenticated %}| <a href="/ad/">Postavite oglas</a>{% endif %}
			| Kontakt: <a href="mailto:oglas.mojkutak@gmail.com">oglas.mojkutak@gmail.com</a>
		</div>
{% endblock %}
