<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'nekretnine/objekti.css' %}" /> 
	
	<script src="{% static 'nekretnine/objekti.js' %}"></script>
	</head>
	<body>
	<div id = "prazan"></div>
		<div class = "main">
			<form>
				Tip objekta:
				<select name ="tip_objekta">
					<option value="0">Izaberite...</option>
					{% for tip_objekta in tipovi_objekta %}
					<option value="{{ tip_objekta.id }}"{% if izabran_tip_objekta == tip_objekta.id %} selected{% endif %}>{{ tip_objekta.naziv }}</option>
					{% endfor %}
				</select>	
				Nameštenost:
				<select name = "namestenost">
					<option value="0">Izaberite...</option>
					{% for namestenost in namestenosti %}
					<option value="{{ namestenost.id }}"{% if izabrana_namestenost == namestenost.id %} selected{% endif %}>{{ namestenost.naziv }}</option>
					{% endfor %}
				</select>
				Grad:
				<select name = "grad">
					<option value="0">Izaberite...</option>
					{% for grad in gradovi %}
					<option value="{{ grad.id }}"{% if izabran_grad == grad.id  %} selected{% endif %}>{{grad.naziv }}</option>
					{% endfor %}
				</select>
				
				Broj soba:
				<select name = "broj_soba">
					<option value="nista">Izaberite...</option>
					<option value="1"{% if izabran_broj_soba == "1" %} selected {% endif %}>1</option>
					<option value="1.5"{% if izabran_broj_soba == "1.5" %} selected {% endif %}>1.5</option>
					<option value="2"{% if izabran_broj_soba == "2" %} selected {% endif %}>2</option>
					<option value="2.5"{% if izabran_broj_soba == "2.5" %} selected {% endif %}>2.5</option>
					<option value="3"{% if izabran_broj_soba == "3" %} selected {% endif %}>3</option>
					<option value="3.5"{% if izabran_broj_soba == "3.5" %} selected {% endif %}>3.5</option>
					<option value="4"{% if izabran_broj_soba == "4" %} selected {% endif %}>4</option>
				</select>
				<p>
					<label for="amount">Opseg cena (€):</label>
					<input type="text" id="amount" name="cena" readonly style="border:0; color:#f6931f; font-weight:bold;" />
				</p>
				<div id="slider-range"></div>
				<input type="submit" value="Pretraga" />
			</form>
		
		{% if objekti %}
			{% for objekat in objekti %}
				<div class = "komplet">
					<div class="podaci">
						<div class = "naslov">
							
						</div>
						<div class="red">
							<div class = "osobine">Broj soba</div>
							<div class = "podatak">{{ objekat.broj_soba }}</div>
						</div>
						<div class="red">
							<div class = "osobine">Grad</div>
							<div class = "podatak">{{ objekat.deo_grada.grad }} ({{ objekat.deo_grada }})</div>
						</div>
						<div class="red">
							<div class = "osobine">Adresa</div>
							<div class = "podatak">{{ objekat.adresa }}</div>
						</div>
						<div class="red">
							<div class = "osobine">Površina</div>
							<div class = "podatak">{{ objekat.povrsina }}m2</div>
						</div>
						<div class="red"></div>
						
					</div>
					<input type = "button" id = "dugme" value = "Više" onclick = "vise()"/> 
				</div>
			{% endfor %}
		{% else %}
				<p>Nema oglasa.</p>
		{% endif %}
				<div class="red"></div>
			</div>
	</body>
</html>