{% for objekat in objekti %}
<div class = "object" id = "stan_{{objekat.id}}">
	<div class = "thumb">
		<img src="{{ objekat.thumb }}" />
	</div>
	<div class = "list_text">
		<div class="red">
			<span class = "osobina">Broj soba</span> <span class = "podatak">{{ objekat.broj_soba|stringformat:"g" }}</span><span>;</span>
			<span class = "osobina">Grad </span> <span class = "podatak">{{ objekat.deo_grada.grad }} ({{ objekat.deo_grada }})</span>
		</div>
		<div class="red">
			<span class = "osobina">Površina</span> <span class = "podatak">{{ objekat.povrsina }} m<sup>2</sup></span><span>;</span>
			<span class = "osobina">Cena</span> <span class = "podatak">{{ objekat.cena }} €</span>
		</div>
	</div>
	<div class="button" onclick="vise({{objekat.id}})">Detalji</div>
	<div class="favourite" onclick="switchFavourite({{objekat.id}})"></div>
</div>
{% empty %}
	<p>Nema oglasa.</p>
{% endfor %}
