{% for objekat in objekti %}
<div class = "jedan_stan" id = "stan_{{objekat.id}}">
	<div class = "slika">
	</div>
	<div class = "text">
		<div class="red">
			<span class = "osobina">Broj soba</span> <span class = "podatak">{{ objekat.broj_soba }}</span><span>;</span>
			<span class = "osobina">Grad </span> <span class = "podatak">{{ objekat.deo_grada.grad }} ({{ objekat.deo_grada }})</span>
		</div>
		<div class="red">
			<span class = "osobina">Povrsina</span> <span class = "podatak">{{ objekat.povrsina }}m2</span><span>;</span>
			<span class = "osobina">Cena</span> <span class = "podatak">{{ objekat.cena }}</span>
		</div>
	</div>
	<input type = "button" id = "dugme"  class = "dugme" value = "Vise" onclick="vise({{objekat.id}})" />
	<input type = "button" id = "grugo_dugme"  class = "drugo_dugme" value = "Favorit" onclick = "add_favorits({{objekat.id}})" />

</div>
{% empty %}
	<p>Nema oglasa.</p>
{% endfor %}
