<!DOCTYPE html>
<html>
	<head>
		<meta name="description" content="{% block description %}Oglasi sa stanovima za iznajmljivanje u Beogradu bez posrednika. Mojkutak.rs Vam omoguæava da pronaðete stan po Vašem ukusu na najlepšim lokacijama u Beogradu bez plaæanja provizije.{% endblock %}">
		<meta name="keywords" content="iznajmljivanje stanova, izdavanje stanova, oglasi iznajmljivanje stanova, iznajmljivanje stanova u beogradu, nekretnine beograd, oglasi, palilula, karaburma, zemun, dorcol, vracar, izdavanje stanova beograd">
		<title>Izdavanje stanova bez posrednika - {% block subtitle %}{% endblock %} - Moj kutak</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'nekretnine/jquery/jquery-ui.min-1.11.4.css' %}" />
		<script type="text/javascript" src="{% static 'nekretnine/jquery/jquery-1.10.2.js' %}"></script>
		<script type="text/javascript" src="{% static 'nekretnine/jquery/jquery-ui-1.11.4.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'nekretnine/sumoselect/jquery.sumoselect.min.js' %}"></script>
		<link href="{% static 'nekretnine/sumoselect/sumoselect.css' %}" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="{% static 'nekretnine/jquery/jquery.cookie.js' %}"></script>
		<script type="text/javascript" src="{% static 'nekretnine/jssor-slider/jssor.slider.mini.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'nekretnine/objekti.css' %}?v5" />
		<script src="{% static 'nekretnine/objekti.js' %}?v5"></script>
		{% block head %}{% endblock %}
	</head>
	<body class="{{ body_class|default_if_none:'' }}">
		{% csrf_token %}
		<a href="/"><div class="logo"></div></a>
		{% block content %}{% endblock %}
	</body>
</html>