{% extends 'nekretnine/template.html' %}

{% block title %}Uslovi korišćenja{% endblock %}

{% block content %}
<div class="legal">
	<h1>Uslovi korišćenja Sajta</h1>
	<p>
		Za korišćenje usluga sajta www.mojkutak.rs neophodna je registracija, koja je besplatna.
		Registrovani korisnik koji je postavio oglas ima sva prava i obaveze predviđene
		Zakonom o oglašavanju Republike Srbije. Korisnik može imati i koristiti samo jedan registrovan nalog.
	</p>
	<p>
		Celokupan sadržaj ponuđen na sajtu (tekstovi, slike, kao i sav ostali sadržaj),
		koji je objavljen od strane korisnika, isključivo je u odgovornosti korisnika koji je sadržaj objavio.
	</p>
	<p>
		Mojkutak.rs nije odgovoran za istinitost i potpunost informacija objavljenih od strane korisnika.
	</p>
	<p>
		Korisnik, koji je objavio sadržaj na sajtu, daje saglasnost da se njegovi podaci mogu koristiti u skladu sa
		Zakonom o zaštiti podataka o ličnosti Republike Srbije.
	</p>
	<p>
		Nije dozvoljeno oglašavanje u ime nekog drugog lica, u svojstvu posrednika ili agencije.
	</p>
	<p>
		Mojkutak.rs ima pravo da zabrani pristup pojedinačnom korisniku ukoliko on na bilo koji način ometa
		normalno funkcionisanje Sajta.
	</p>
	<p>
		Oglasi  koji ne pripadaju oblasti nekretnina, biće uklonjeni sa sajta.
	</p>
	<p>
		Korisnik je dužan da sam ukloni svoj oglas nakon izdavanja objekta.
	</p>
	<p>
		Mojkutak.rs ima pravo da promeni izgled i funkcionalnost Sajta bez prethodne najave.
	</p>
	<p>
		Mojkutak.rs ne može garantovati odsutnost grešaka na Sajtu.
		Korisnik može kontaktirati Mojkutak.rs ukoliko dođe do grešaka kako bi Mojkutak.rs, ako je u mogućnosti,
		mogao da preduzme mere za njihovo rešavanje.
	</p>
	<p>
		Mojkutak.rs ne garantuje stalnu dostupnost korisničkog sadržaja ili bilo kog njegovog dela.
	</p>
	<p>
		Mojkutak.rs zadržava pravo promene ovih uslova korišćenja, bez prethodne najave.
	</p>
	<p>
		Samim korišćenjem sajta korisnik pristaje na ove uslove i
		nikakav poseban pristanak od strane korisnika nije potreban.
	</p>
</div>
{% endblock %}
