{% extends 'nekretnine/template.html' %}

{% block title %}Uslovi za korišćenje Sajta{% endblock %}

{% block content %}
<div class="text">
	<h1>Uputstvo za postavljanje oglasa</h1>
	<h3>
		Ako želite da izdate svoj objekat brzo i jednostavno, došli ste na pravo mesto.
	</h3>
	<p>
		Poštovani korisnici, naš sajt vam nudi mogućnost da besplatno reklamirate svoje objekte za izdavanje.
	</p>
	<p>
		Da biste postavili oglas potrebno je da se registrujete otvaranjem naloga,
		čime vam je omogućeno da sami direktno postavite oglas na sajt kao i da menjate svoje postojeće oglase.
	</p>
	<p>
		Ili ukoliko vam je jednostavnije možete poslati podatke o stanu sa slikama na našu e-mail adresu
		<a href="mailto:oglas.mojkutak@gmail.com">oglas.mojkutak@gmail.com</a>
		i vaš oglas će biti objavljen na sajtu u roku od 24 sata.
	</p>
	<h3>Otvaranje naloga</h3>
	<p>
		Potrebno je da napravite korisnički nalog na našem sajtu, da biste se registrovali.
		Kliknite na link “Prijavite se i postavite oglas besplatno”, nakon toga kada popunite sva polja koja vam se nude,
		potvrdite klikom na dugme “Napravi nalog” i bićete registrovani korisnik našeg sajta.
	</p>
	<h3>Postavljanje oglasa</h3>
	<p>
		Nakon registracije, možete postaviti oglas. Klikom na link “Postavite oglas”
		otvoriće vam se  stranica za postavljanje oglasa. Klikom na odeljak “Lični podaci”
		otvoriće vam se polja koja treba da popunite. Poželjno je da ostavite svoje podatke
		da bi potencijalni stanari mogli lakše da vas kontaktiraju. Klikom na odeljak “unos oglasa”
		otvaraju vam se polja u koja unosite podatke o stanu i slike.
		Podatke kao što su broj soba, površina i cena možete direktno unositi
		ili podešavati strelicama na desnoj strani polja.
	</p>
	<p>
		Poželjno je da ostavite što više podataka, da biste potencijalnim stanarima što bolje predstavili vaš stan.
		Takođe je poželjno da stavite slike, jer oglasi sa slikama imaju daleko veću posećenost.
	</p>
	<p>
		Kada unesete podatke i slike potvrdite klikom na dugme “Napravi oglas” i vaš oglas će biti aktiviran.
	</p>
	<p>
		Ukoliko želite da uredite ili ponovo pregledate svoj oglas, to možete učiniti klikom na odeljak “moji oglasi”
		ili na link “Uredi svoje oglase” na početnoj strani Sajta.
	</p>
	<p>
		Kada izdate stan, oglas možete povući klikom na polje pored stavke ”aktivan”
		ili poslati mejl na našu adresu <a href="mailto:oglas.mojkutak@gmail.com">oglas.mojkutak@gmail.com</a>
		da je stan izdat i mi ćemo povući oglas umesto vas.
	</p>
	<p>
		Ukoliko imate bilo kakvih pitanja ili primedbi pišite nam na našu  e-mail adresu
		<a href="mailto:oglas.mojkutak@gmail.com">oglas.mojkutak@gmail.com</a>.
		Hvala Vam unapred na ukazanom poverenju.
	</p>
</div>
{% endblock %}
