{% extends "nekretnine/template.html" %}

{% block subtitle %}Obnavljanje lozinke{% endblock %}

{% block content %}
<div class="content">
	<p>Unesite Vašu email adresu. Poslaćemo Vam uputstvo za dobijanje nove lozinke.</p>

	<form action="" method="post">
		<div style="display:none">
			<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
		</div>
		 {{ form.email.errors }}
		<p><label for="id_email">E-mail adresa:</label> {{ form.email }} <input type="submit" value="Obnovi lozinku" /></p>
	</form>
	{% endblock %}
</div>
